@use '../../scss/common';
@use '../../scss/data';
@use '../../scss/status';

:host {
  @include common.layout-block();

  @layer {
    & {
      --_warn-color: var(--app-warn-color);
    }
  }
}

._data-view {
  @include data.layout-data-view();
}

._crawl-container {
  background: #000;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

._crawl-content {
  position: relative;
  width: 60%;
  animation: crawl 60s linear forwards;
  text-align: center;
  transform-style: preserve-3d;
}

._crawl-logo {
  color: #ffe84d;
  font-size: 3rem;
  font-weight: bold;
}

._crawl-title {
  color: #ffe84d;
  font-size: 1.5rem;
  font-weight: bold;
}

._crawl-text {
  color: #ffe84d;
  font-size: 1rem;
  text-align: center; // ← เปลี่ยนจาก justify เป็น center
  white-space: pre-line;
  margin-top: 2rem;
}

@keyframes crawl {
  0% {
    transform: perspective(300px) rotateX(20deg) translateY(100vh);
  }
  100% {
    transform: perspective(300px) rotateX(20deg) translateY(-300%);
  }
}
